.ldsRipple {
  position: relative;
}
.small {
  width: 20px;
  height: 20px;
}
.large {
  width: 80px;
  height: 80px;
}
.ldsRippleDivs {
  position: absolute;
  border: 4px solid var(--cta-orange);
  opacity: 1;
  border-radius: 50%;
}
.ldsRippleDivsS {
  animation: ldsRippleS 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldsRippleDivsL {
  animation: ldsRippleL 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldsRippleDivLast {
  animation-delay: -0.5s;
}
@keyframes ldsRippleS {
  0% {
    top: 5px;
    left: 5px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}
@keyframes ldsRippleL {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
