.box {
  padding: 2rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.75);
  display: flex;
  background-color: #fff;
}
.box .left {
  flex-basis: 50%;
}
.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.imageBox {
  border-left: solid 0.3rem black;
}
.goBack {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.goBack:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .imageBox {
    display: none;
  }
  .box {
    box-shadow: none;
  }
}
