.root {
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.4rem;
  border: solid 1px var(--cta-orange);
}
.root:hover {
  cursor: pointer;
}
.primary {
  background-color: var(--cta-orange);
  color: #fff;
}
.secondary {
  background-color: #fff;
  color: var(--cta-orange);
}
.primary:hover {
  background-color: #fff;
  color: var(--cta-orange);
}
.secondary:hover {
  background-color: var(--cta-orange);
  color: #fff;
}
