.button {
  padding: 0.5rem;
  background-color: var(--action-blue);
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
}
.rounded {
  border-radius: 20px;
}
.button:hover {
  cursor: pointer;
}
