.content {
  display: flex;
  justify-content: center;
}
.form {
  width: 80%;
  max-width: 600px;
}
.ingredientSubForm {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.table {
  width: 100%;
  margin: 2rem 0;
  padding: 1.5rem;
}
.table td {
  padding: 1rem;
  border: solid 1px black;
}
.imgBox {
  display: flex;
  justify-content: center;
}
