.content {
  display: flex;
  justify-content: center;
}
.form {
  width: 600px;
}
.ingredientSubForm {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  width: 600px;
}
.addIngredientBtn {
  align-self: center;
}
.imgBox {
  display: flex;
  justify-content: center;
}
