.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin-top: 3.5rem;
}
.title {
  font-size: 2.5rem;
}
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.link {
  color: var(--action-blue);
  cursor: pointer;
}
.link:hover {
  font-weight: 600;
  text-decoration: underline;
}
.helperBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.helperBox label {
  padding-left: 0.5rem;
}
