.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  min-height: 80px;
}
.fieldLabel {
  margin-bottom: 0.5rem;
}
.fieldInput {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.75rem;
}
.rounded {
  border-radius: 20px;
}
.fieldInput.error {
  border: solid 1px #dc3545;
  color: #dc3545;
}
.fieldLabel.error {
  color: #dc3545;
}
.errorData {
  font-size: 1.25rem;
  color: #dc3545;
}
.checkbox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.checkbox input {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
