.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  min-height: 80px;
  min-width: 100px;
}
.fieldLabel {
  margin-bottom: 0.5rem;
}
.fieldInput {
  width: 100%;
  min-height: 3rem;
  padding: 0.5rem 0.75rem;
}
.rounded {
  border-radius: 20px;
}
.fieldInput.error {
  border: solid 1px var(--action-red);
  color: var(--action-red);
}
.fieldLabel.error {
  color: var(--action-red);
}
.errorData {
  font-size: 1.25rem;
  color: var(--action-red);
}
.checkbox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.checkbox input {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.inputFileBox {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--action-blue);
  color: #fff;
  cursor: pointer;
  position: relative;
}
.inputFileBox input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
