@media screen and (min-width: 600px) {
  .recipes {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}
.filters {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.link {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 400px;
}
@media screen and (max-width: 600px) {
  .cards {
    justify-content: center;
  }
}
