.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  background-color: var(--footer-background);
  color: #fff;
}
.imageRight {
  flex-flow: row-reverse;
}
.image {
  position: relative;
  height: 250px;
  width: 250px;
}
.title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 4rem;
}
.desc {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .feature {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .title {
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .feature {
    gap: 10rem;
    padding: 4rem;
  }
  .text {
    flex-basis: 60%;
  }
}
